<div class="container form-container">
	<div class="main-form">
		<form class="form-inline" action="/fetch-directors" method="GET" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="files">Attach CSVs:</label>
		    <input type="file" name="files"></br>
		  	<input class="big-btn btn btn-lg btn-primary" type="submit" value="Get Directors" role="button">
		  </div>
		</form>		
	</div>
</div>
