@import "bootstrap";
@import "home";

.director-img {
	border-radius: 75px;
}

.director {
	text-align: center;
	margin: 20px;
}

.director-list {
	float: left;
}

.director-link {
	text-align: center;
}